@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Veriables
$fontFamily: 'Montserrat', sans-serif;

$red: #E51B23;
$white: #fff;

//Media Breakpoint
$xl: 1024px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xs: 340px;

@mixin xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}
@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
     -moz-box-shadow: $boxShadow;
          box-shadow: $boxShadow;
}

.App_header {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &--logo {
    @include md {
      text-align: center;
      width: 100%;
      flex-basis: 100% !important;
      max-width: 100% !important;
      padding-bottom: 10px;
    }
    img {
      max-width: 80px;
      cursor: pointer;
    }
  }
  &--links {
    text-align: right;
    @include md {
      text-align: center;
      width: 100%;
      flex-basis: 100% !important;
      max-width: 100% !important;
    }
    .MuiButton-outlinedPrimary {
      @include sm {
        font-size: 12px;
        padding: 6px 9px;
      }

      
      &:not(:last-child) {
        margin-right: 15px;
        @include md {
          margin-right: 10px;
        }
      }
    }
  }
  &.InnerHead {
    .App_header--links {
      .MuiButton-outlinedPrimary {
        color: $white;
      }
    }
  }
  &--bgFill {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include md {
      background-color: transparent;
      box-shadow: none;
    }
    .btn-primary {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 15px;
      font-family: $fontFamily;
      font-weight: 700;
      background-color: #E51B23;
      @include border-radius(30px);
      &:hover,
      &:focus {
        background-color: #E51B23;
      }
    }
    .btn-text {
      font-size: 15px;
      font-family: $fontFamily;
      font-weight: 700;
      color: #222222;
      background-color: transparent;
    }
    &--logo {
      @include md {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-basis: 100% !important;
        max-width: 100% !important;
        padding-bottom: 10px;
      }
      img {
        cursor: pointer;
        display: block;
      }
    }
  }
}