@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Veriables
$fontFamily: 'Montserrat', sans-serif;
$textColor: #3C3C3C;

// Colors
$white: #fff;
$dark: #333;
$red: #E51B23;

//Media Breakpoint
$xl: 1024px;
$lg: 991px;
$md: 767px;
$sm: 575px;
$xs: 340px;

@mixin xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}
@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
     -moz-box-shadow: $boxShadow;
          box-shadow: $boxShadow;
}


*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: $fontFamily;
  font-weight: 400;
  color: $textColor;
  line-height: 26px;
  
  .container {
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  // Buttons
  .MuiButton-outlinedPrimary {
    font-size: 14px;
    font-family: $fontFamily;
    font-weight: 600;
    color: $dark;
    border: 2px solid $red;
    border-radius: 10px;
    min-width: 64px;
    padding: 8px 20px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    background-color: transparent;
    @include md {
      padding: 7px 15px;
    }
    &:hover,
    &:focus {
      background-color: $red;
      border: 2px solid $red;
      color: $white;
    }
  }
  
}

.subheading {
  font-size: 22px;
}

